@mixin meal-check {
  .meal--box {
    width: 30rem;
    max-width: 30rem;
    margin: auto;
    position: relative;
  }
  .meal--container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    width: 95%;
    height: 4rem;
    margin: auto;
    background: white;
  }
  .meal--container:hover .icone {
    margin-right: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
  .meal--container:hover i {
    transform: rotate(360deg);
    transition-duration: 0.5s;
  }
  .description {
    width: 100%;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    strong{
      font-weight: 600;
    }
  }
  .meal__description {
    width: 100%;
    margin-left: 1rem;
    padding-top: 0.9rem;
    max-width: 100%;
    overflow: hidden;
    line-height: 1.4rem;
    h3{
      font-weight: 600;
    }
    p{
      font-size: 0.9em;
    }
  }
  .price {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
    margin-right: 1rem;
    max-width: 100%;
  }
  .icone {
    width: 7rem;
    background: #99e2d0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -7rem;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
  .icone > i {
    color: #99e2d0;
    padding: 0.5rem;
    border-radius: 50%;
    background: white;
    transition-duration: 0.5s;
  }
  .texte > * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
  }
  .price {
    margin-left: 0.5rem;
  }
}