body{
  font-family: $text-font;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.2em;
  height: 3.94rem;
  box-shadow: 0 2.8px 2.2px $background, 0 6.7px 5.3px $background,
    0 12.5px 10px $background, 0 22.3px 17.9px $background,
    0 41.8px 33.4px $background, 0 100px 80px $background;
}
.logo-img {
  width: 10.5rem;
}
.photo {
  width: 100%;
  height: 14rem;
}
.section--menu {
  background-color: #eaeaea;
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  margin-top: -2.6rem;
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  .section__header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
    h2 {
      font-family: $title-font;
      font-size: 1.5em;
      font-weight: 500;
    }
    .far {
      font-size: 1.3em;
      font-weight: 100;
    }
  }
}
.entree {
  width: 10%;
  padding-bottom: 0.5rem;
  margin: 0 0 0.9rem 1rem;
  text-transform: uppercase;
  border-bottom-width: 10%;
  border-bottom: 3px solid #99e2d0;
}
.entree--container {
  width: 85%;
  margin: auto;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 1rem 0.5rem 1rem;
  margin-bottom: 1rem;
  .entree__detail {
    display: flex;
    justify-content: space-between;
  }
}
.entree__title {
  font-weight: 700;
}
.entree__detail {
  margin-top: 0.5rem;
  font-size: 0.9em;
  strong {
    font-weight: 700;
  }
}
.section__element {
  display: flex;
  justify-content: center;
  margin-top: 3.1rem;
  button {
    height: 3rem;
    width: 11.5rem;
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    border-style: none;
    border-radius: 2rem 2rem 2rem 2rem;
    background: #9356dc;
    background: linear-gradient(
      180deg,
      rgba(255, 121, 218, 1) 60%,
      rgba(147, 86, 220, 1) 100%
    );
  }
}
footer {
  background-color: $footer-color;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2em 0 2em 1em;
  a {
    text-decoration: unset;
    color: white;
  }
  h3 {
    font-family: $title-font;
    font-size: 1.3em;
    font-weight: 300;
    padding-bottom: 0.8em;
  }
  nav {
    display: flex;
    flex-direction: column;
    line-height: 2em;
  }
  .fa-hands-helping {
    padding-right: 0.6em;
  }
  .fa-utensils {
    padding-right: 1em;
  }
}
.heart1{
  width: 100px;
  height: 100px;
}